.container {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: cornflowerblue;
}

input button {
    margin-top: 10px;
}

#verseOutput {
    margin-top: 20px;
    font-style: italic;
    font-size: large;
}
